@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

.city_destinos{
     font-size:4rem;
    margin-top:10%;
     font-weight:bold;
     display:flex;
     justify-content: center;
     color:rgb(56, 108, 151);
     transition:0.3;}



     /*EFECTOS CIUDADES*/
/*sevilla*/

.se_word:hover p,
.vil_word:hover p,
.la_word:hover p {
    font-size: 5rem; 
    transform: scale(1.2); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.se_word:hover p{
  color:rgb(255, 255, 255);
}
.vil_word:hover p{
   color:red;
}
.la_word:hover p{
  color:rgb(255, 255, 255);
}

/*barcelona*/

.bar_word:hover ,
.ce_word:hover ,
.lo_word:hover ,
.na_word:hover  {
    font-size: 5rem; 
    transform: scale(1.2); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.bar_word:hover {
  color:rgb(13, 46, 192);
}
.ce_word:hover {
   color:red;
}
.lo_word:hover {
  color:rgb(13, 46, 192);
}

.na_word:hover {
  color:red;
}

.container-ciudades{
  border-bottom:2px solid black;
  margin-bottom:2%;
 
}

/*madrid*/

.ma_word:hover ,
.dr_word:hover ,
.id_word:hover 
 {
    font-size: 5rem; 
    transform: scale(1.2); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.ma_word:hover {
  color:rgb(255, 255, 255);
}
.dr_word:hover {
   color:red;
}
.id_word:hover {
  color:rgb(254, 254, 255);
}


/*krabi, bangkok, ayyuthaya*/
.k_word:hover ,
.r_word:hover ,
.a_word:hover ,
.b_word:hover ,
.i_word:hover,
.ba_word:hover ,
.n_word:hover ,
.g_word:hover ,
.k_word:hover ,
.ok_word:hover
.a_word:hover ,
.yu_word:hover ,
.tth_word:hover ,
.ay_word:hover ,
.a_word:hover  
 {
    font-size: 5rem; 
    transform: scale(1.2); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.k_word:hover,
.ba_word:hover,
.a_word:hover
 {
  color:rgb(255, 0, 0);
}
.r_word:hover,
.n_word:hover,
.yu_word:hover {
   color:rgb(255, 255, 255);
}
.a_word:hover,
.g_word:hover,
.tth_word:hover {
  color:rgba(62, 36, 193, 0.792);
}
.b_word:hover,
.k_word:hover,
.ay_word:hover {
  color:rgb(255, 255, 255);
}
.i_word:hover,
.ok_word:hover,
.a_word:hover {
   color:red;
}

/*marrakech, essaouira, merzouga*/

.mar_word:hover ,
.rak_word:hover ,
.ech_word:hover ,
.mer_word:hover ,
.zou_word:hover,
.ga_word:hover ,
.ess_word:hover ,
.aou_word:hover ,
.ira_word:hover ,
.ok_word:hover
.a_word:hover ,
.yu_word:hover ,
.tth_word:hover ,
.ay_word:hover ,
.a_word:hover  
 {
    font-size: 5rem; 
    transform: scale(1.2); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.mar_word:hover,
.mer_word:hover,
.ess_word:hover
 {
  color:rgb(255, 0, 0);
}
.rak_word:hover,
.zou_word:hover,
.aou_word:hover {
   color:rgb(24, 105, 21);
}
.ech_word:hover,
.ga_word:hover,
.ira_word:hover {
  color:rgba(255, 0, 0);
}
.b_word:hover,
.k_word:hover,
.ay_word:hover {
  color:rgb(255, 255, 255);
}
.i_word:hover,
.ok_word:hover,
.a_word:hover {
   color:red;
}




/*Cuadro del tiempo*/

.weather-container{
  display:flex;
  width:30%;
  border-radius:2%;
  border:2px solid #2070b2;
  justify-content:center;
  margin:auto;
  text-align:center;
  font-weight:bold;
  font-size:1rem;
  margin-bottom:3%;
}

/* Elementos lista*/

.list ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.list li{
    margin:20px;
}


  

  /*Destinos turisticos*/

  .descripción_ciudades{
    display:flex;
    text-align:center;
    justify-content:center;

  }

a{
    text-decoration:none;
    color:black;
}
  .destinos_turisticos {
    display:flex;
   justify-content:center;
    padding-top:0.5%;
    padding-bottom:0.5%;
    font-weight:bold;
    font-size:2rem;
  
    
    transition:0.3s;
    
   
   
    
  }

  .destinos_turisticos:hover{
    color: #FFD700;;
     transform: scale(1.2); 
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    
    
  }

  .imagenes_destinos_turisticos {
    width: 50%;
    margin-left: 25%;  
    margin-bottom: 10%;
    text-align: center; 
    border-radius:5%;
    border:2px solid #2070b2;
    
}


/* Tablets */
@media (max-width: 1024px) { 
  .destinos_turisticos {
      margin-left: 25%;
      font-size: 1.8rem;
      width: 50%;
  }

  .imagenes_destinos_turisticos {
      width: 70%;
      margin-left: 10%;
  }
}
/* Móviles */
@media (max-width: 768px) { 
  .descripción_ciudades {
      flex-direction: column; 
      align-items: center;
      text-align: center;
  }

  .city_destinos{
    font-Size:3.5rem;
    margin-top:30%;
    text-align:center;

  }

  .destinos_turisticos {
      width: 80%;
      margin-left: 10%;
      font-size: 1.5rem;
      text-align: center;
  }

  .imagenes_destinos_turisticos{
    display:flex;
    justify-content:center;
      width: 60%;
    

  }
}
/* Teléfonos pequeños */
@media (max-width: 480px) { 
  .destinos_turisticos {
      font-size: 1.2rem;
      width: 90%;
      margin-left: 5%;
  }
  .imagenes_destinos_turisticos{

    width:80%;
  }

  
}


.mapa_icono_ciudad{

  display:flex;
  justify-content:center;
  font-size:2rem;
  transition:0.3s;
}

.mapa_icono_ciudad:hover{

  color:#FFD700;
  transform:scale(1.2)
}

.tiempo{
  font-size:1.3rem;
  font-weight:bold;
  transition:0.3s;
}

.tiempo:hover{
  transform:scale(1.2);
  color:#FFD700;
}


