@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

.navbar{
    background-color:#32C8D9;
    height:12%;
}

.offcanvas{
    background-color:#F2D22E;
    border-radius:5%;
    border:4px solid #32C8D9;
    height:80%;
    color:white;
    font-weight: bold;;
}


.offcanvas-title{
    font-weight: bold;
    color:#32C8D9;
}
.menu{
    padding:5px;
    font-weight:bold;
    margin-top:-0.5%;
   

}
.menu:hover{
    
    background-color:transparent;
    
}
.dropdown-menu{
    border-radius:10%;
    border: 3px solid #32c8d9;
}

.search-label{
    padding-bottom:0px;
    background-color: transparent;
    box-shadow:none;
    margin-left:-25px;
}
   

    
.destinos-paises{
    border:0px;
}
.text-Navbar {
     font-size:20px;
     font-family: 'Margarine', cursive;
     display:flex;
     text-align:center;
     color:white;}

.bienvenido-text{font-size:30px;
    font-family: 'Margarine', cursive;
    display:flex;
    text-align:center;
    color:white;}

.navbar .auth-container {
        display: flex;
        align-items: center;
        text-decoration:none;
        gap: 15px;
        position: relative; 
        transition:0.3s;
                     
    }
    .navbar .auth-container .textlogin:hover{
        transform:scale(1.2);
        color:#FFD700;
    }
    
    /* Estilos para los textos de Iniciar Sesión y Registrarse */
    .navbar .auth-container .textlogin {
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        
        
    }
    
    /* Input  del auth-container */
    .navbar .auth-container input {
        border-radius: 60px;
        box-shadow:none;
        border: 4px solid rgb(29, 154, 182);
        height: 40px;
        padding-left: 10px;
      
    }

    .form{
       
        padding:0px;
        background-color: transparent;
        box-shadow:none;
        margin-bottom:-10px;
        
    }
    
    /*Botón búsqueda*/

    .search-button{
        position:absolute;
        margin-right:-1%;
        box-shadow:none;
        background-color:transparent;
        color:#ffffff;
        text-decoration:none;
        font-weight:bold;
         font-size:25px;        
         transition:0.3;
         margin-top: -30px;
          
        right:225px;
    }

    .search-button:hover{
        transform: scale(1.5);
        color:#FFD700;
        background-color:transparent;

    }
    
    
    /* Ajustes para pantallas medianas (tablets) */
    @media (max-width: 768px) {
        .navbar .auth-container {
            flex-direction: column; 
            align-items: flex-end; 
            gap: 10px;
            top: 10px;
            right: 10px;
        }
    
        .navbar .auth-container input {
            width: 200px;
            position:absolute;
            right:200px;
            
        }

       
        .menu{

            margin-top:-10px;
            font-size:2rem;
        }

       
        

        
    }
    
    /* Ajustes para pantallas pequeñas (móviles) */
    @media (max-width: 480px) {
        .navbar .auth-container {
            flex-direction: column; 
            align-items: flex-end;  
            gap: 5px;
            top: 15px;
            right: 5px;
        }
    
        .navbar .auth-container input {
            width: 100px;
            margin-top: 5px;
            right:120px;
        }

        .menu{

            margin-top:-10px;
            font-size:1rem;
        }
        .bienvenido-text{

            margin:auto;
            color:rgb(255, 255, 255);
            font-size:1.5rem;
            transition:0.3s
    
        }
    
        .bienvenido-text:hover{
    
           transform:scale(1);
           color:#FFD700;
    
        }
    }

    .bienvenido-text:hover{

    transform:scale(1.2);
    color:#FFD700;

 }

    


  
  
  /* Footer*/
  footer {
    background-color: #00c4cc; 
    position:fixed;
    bottom:0px;
    height:30px;
    color: white;
    width:100%;
    text-align:center;
 
   
    
  }


  body{
    position:relative;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    
  }
  
  

.textFooter{
    color:rgb(100, 100, 100);
    font-family: 'Margarine', cursive;
    margin-right: 3px;
}

.textlogin {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
    cursor: pointer;
}

