body, html{
    height: 100%;
    margin: 0;
    padding: 0;

}
.bodylogin{
    margin-left:35%;
    margin-right: 50px;
    width: 50%;
    max-width: 400px;
    font-family: Arial, sans-serif;
    background-color: #18A2B8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    display:flex;
    flex-direction:column;
    min-height:100vh;

}
.bodygeneral{
    height: 100vh;
    background-image: url(https://imgs.search.brave.com/F2PY3KHdGJkTy0rof43OnQlZfS6iHyqiBzGfzvKRCVY/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YmxvZ2RlbGZvdG9n/cmFmby5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjAvMDkv/c2FoYXJhLndlYnA);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.titlelogin{
    font-size: 2.5rem;
    color:white;
    margin-top: 5rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
}


form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bodylogin input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f8f9fa;
    transition: border-color 0.3s;

}
.bodylogin input:focus{
    border-color: #007bff;
    outline: none;
}
.bodylogin button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #007bff,#17a2b8);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.bodylogin button:hover{
    background: linear-gradient(90deg, #0056b3, #138496);

}

label{
    font-size: 1.2rem;
    font-weight: bold;
    color: #0056b3;
    display: block;
    margin-bottom: 0.5rem;
}

.contraseña{
    color:white;
    transition:0.3s;
    font-weight:bold;
}

.contraseña:hover{

    transform:scale(1.1);
    color:#c6b921;
    
}

/*tablets*/


@media (max-width:1024px){
    .bodygeneral{
        height:125vh;
        
    }

    .bodylogin{
        
        position:absolute;
        min-height:100px;
        padding:10px;
        width:70%;
        margin:30%;
        padding:40px;
       
    }

    .titlelogin{
        display:flex;
        text-align:center;
        justify-content:center;
        font-size:2.5rem;
        margin-top:-1%;
    }
    
    .bodylogin input{

        width:90%;
        font-size:0.5rem;
        display:flex;
        justify-content:center;
        text-align:center;

    }

    .emailInicio label{
        display:flex;
        text-align:center;
        flex-direction:column;
        justify-content:center;
        font-size:40px;
    }

    .contraseñaInicio label{
        display:flex;
        text-align:center;
        flex-direction:column;
        justify-content:center;
        font-size:40px;
    }

    .emailInicio input{
        font-size:1.5rem;
        width:100%;
    }

    .contraseñaInicio input{
        font-size:1.5rem;
      
        margin-left:10px;
    }
    
    
    .cuadro{
        
        padding:20px;
       
        
       
    }

    .contraseña{

        font-size:1.5rem;
        font-weight:bold;
    }

}

/* móviles */

@media (max-width:480px){
    .bodygeneral{
        height:125vh;
        
    }

    .bodylogin{
        position:absolute;
        padding:10px;
        height:60%;
        width:70%;
        margin-top:30%;
        margin-left:15%;
       
    }

    .titlelogin{
        display:flex;
        text-align:center;
        margin-top:2%;
        font-size:1.5rem;
    }
    
    .bodylogin input{

        width:90%;
        font-size:0.5rem;
        display:flex;
        justify-content:center;
        text-align:center;

    }

    .contraseñaInicio{
        display:flex;
        text-align:center;
        flex-direction:column;
        justify-content:center;

    
    }

    .emailInicio{

    font-size:1rem;
    margin-left:10px;
    }

    .emailInicio label{

        font-size:1rem;
    }

    .contraseñaInicio label{

        font-size:1rem;
    }
    
    .cuadro{
        padding:0px;
        
       
    }

    .contraseña{

        font-size:0.7rem;
        font-weight:bold;
    }

}

